* {
  margin: 0;
  padding: 0;
  background-color: #380438;
  overflow: hidden;
}
.main-div {
  display: flex;
  height: 100vh;
  background-color: #4e064e;
  justify-content: center;
}

.child-div {
  margin: 3% 0 0 0;
  border: 2px solid yellow;
  border-radius: 25px;
  width: 500px;
}
.main-head {
  text-align: center;
  color: aqua;
}
.inputText {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}
.addBtn {
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}
.addBtn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.addItems {
  text-align: center;
}
.showItems {
  display: grid;
  grid-template-columns: 50% 25%;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-evenly;
}
.eachItem {
  border: 2px solid #18b83bc7;
  background-color: #eee8aa;
  color: #240808;
  border-radius: 5px;
  padding: 2% 0 2% 0;
  font-weight: bold;
}
.removeBtn {
  color: #0ddbc0d2;
  font-weight: bold;
}
.removeBtn:hover {
  color: #000000;
  background-color: #faebd7;
  font-weight: bold;
}
.removeAllBtn {
  display: block;
  color: #ec600f;
  margin: 15px auto;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
}
.removeAllBtn:hover {
  color: #000000;
  background-color: #077007d5;
  font-weight: bold;
}
